* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: rgb(249, 249, 249);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* CABECALHO */
nav ul {
    margin-right: 30px;
}

.cor_fonte {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.cabecalho img {
    height: 120px;
    margin-left: 30px;
}

.listas a:hover {
    color: rgb(30, 98, 224);
}

#navbarDropdownMenuLink {
    background-color: #ffffff;

}

nav {

    border-bottom: 1px solid rgb(210, 211, 211);
}

/* Estilizando o link do dropdown */
.nav-item.dropdown .nav-link {
    color: black
        /* Cor do texto */
}

/* Estilizando o link do dropdown quando o mouse passa por cima */
.nav-item.dropdown .nav-link:hover {
    color: rgb(30, 98, 224);
    /* Cor do texto quando passa o mouse */
}

/* Estilizando o link do dropdown quando está aberto */
.nav-item.dropdown .nav-link:focus,
.nav-item.dropdown .nav-link:active {
    color: rgb(30, 98, 224);
    /* Cor do texto quando está aberto */
}

/* Estilizando o fundo do dropdown */
.nav-item.dropdown .dropdown-menu {
    background-color: white;
    /* Cor de fundo do dropdown */
}

/* Estilizando os itens do dropdown */
.nav-item.dropdown .dropdown-item {
    color: black;
    /* Cor do texto dos itens do dropdown */
}

/* Estilizando os itens do dropdown quando o mouse passa por cima */
.nav-item.dropdown .dropdown-item:hover {
    background-color: #F1F5F2;
    /* Cor de fundo dos itens do dropdown quando passa o mouse */
    color: rgb(30, 98, 224);
    /* Cor do texto dos itens do dropdown quando passa o mouse */
}

/*--------------------------------------------------------------------------------------------*/
/* PÁGINA SOBRE */

.sobre {
    margin-top: 2%;
}


.sobre img {
    height: 330px;
}

.hist {
    font-size: 20px;
    text-align: justify;
}

span {
    color: #06a0f9;
}

.sobre .title {
    border-bottom: 2px solid #c3c3c3;
}

/*--------------------------------------------------------------------------------------------*/
/* SEÇÃO DE IMAGENS COLUMNS */

.produtos img {
    height: 175px;
}

.columns h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.columns p {
    font-size: 24px;
}

.produtos{
    padding: 1%;
}

.card{
    width: 350px;
}

#colImg {
    border-radius: 30px;
    padding: 7px;
    margin: 40px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, font-size 0.5s ease-in-out, box-shadow 0.8s ease-in-out;
    cursor: pointer;
}

#colImg:hover {
    transform: scale(1.1);
    font-size: 18px;
    box-shadow: 5px 10px 18px rgba(54, 235, 248, 0.6);
}


.confira {
    font-size: 26px;
}



/*-----------------------------------------------------------------------------------------*/
/* SEÇÃO DO CARROSSEL */

.carrossel{
    margin-top: 8%;
}

.carousel-item {
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    min-height: 300px;
    /* Altura mínima */
    max-height: 600px;
    /* Altura máxima */
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25px;
    height: 25px;
}

/*-----------------------------------------------------------------------------------------*/
/* RODAPÉ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

*{
    font-family:  'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.footer_principal{
    margin: 0%;
}

footer{
    width: 100%;
    color: var( --color-neutral-40);
    margin-top: 5%;
}

.footer_link{
    text-decoration: none;
    transition: all 0.4s;
}

#footer_social_media .footer_link:hover{
    opacity: 0.8;
}

#footer_social_media .footer_link i{
    font-size: 1.25rem;
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts{
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var( --color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}


.footer-list{
     display: flex;
     flex-direction: column;
     gap: 0.75rem;
     list-style: none;
}

.footer-list .footer-link{
    color: var(--color-neutral-30);
}

.footer-list .footer-link:hover{
    color: #7f37c9;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 40px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8rem;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}


@media screen and (max-width: 426){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/*-----------------------------------------------------------------------------------------*/
/* CONTATO*/
input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 0;
    outline: none;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    border: 2px solid #1AA7E7;
}

input[type=text]:focus,
input[type=text]:active {
    background: transparent;
}

.ctt {
    width: min(1000px, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    margin-top: 1.50%;
}

.forms {
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #1AA7E7;
    padding: 3%;
    width: 50%;
    height: 100%;
}

.forms input,
textarea {
    border-radius: 20px;
    padding: 10px;
}

.ctt {
    justify-content: center;
    align-items: center;
}

.limpar {
    background-color: red;
    border-radius: 10px;
    color: black;
}

.Enviar {
    background-color: greenyellow;
    border-radius: 10px;
    color: black;
}

.msg {
    color: black;
}

.text {
    margin-left: 10px;
}

.btn {
    margin-top: 25px;
}

.body p {
    font-size: 21px;
    color: #ffffff;
    font-family: Arial;
}

.ctt-btn {
    width: 200px;
    margin-top: 10px;
}

/*Estilizando área de serviços*/

.service {
    border: none;
    border-radius: 10px;
    background: #ffffff;
    padding: 40px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease-in-out, font-size 0.5s ease-in-out, box-shadow 0.8s ease-in-out;
    cursor: pointer;
}

.service:hover {
    transform: scale(1.1);
    font-size: 18px;
    box-shadow: 5px 10px 18px rgba(54, 235, 248, 0.6);
}

.prin {
    margin-bottom: 80px;
}

.serv:hover {
    color: rgb(30, 98, 224);
}

.servicos {
    position: absolute;
    transform: translateX(986%) translateY(-26%);
}

/*Estilizando área de conteudo Home*/

.Home{
    padding: 4%;
    justify-items: center;
    justify-content: center;
    margin-left: 3%;
    margin-bottom: 50px;
}

.img_conteudo{
    margin-left: 120px;
    animation: example 1.7s infinite ease-in-out;
    object-fit: cover;
    width: auto;
    height: 450px;
    border-radius: 15px;
}

@keyframes example{
    50%{
        transform: translateY(-10%);
    }
}

.text_conteudo{
    color: #39383E;
    font-size: 10px;
    padding: 5px;
    text-align: justify;
}

.titulo_conteudo{
    font-size: 40px;
    color: #39383E;
}

/*Estilizando Imagem e animação do conteudo Home*/

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

/*Estilizando área Mini Galeria*/

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    background: #ffff;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover{
    border-color: #5372F0;
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: #5372F0;
    background: #DDe4Ff;
    margin: 16px 0 18px;
    font-size: 0.95rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: #000;
    font-weight: 600px;
}

.card-list .card-link .card-button{
    height: 35px;
    color: #5372F0;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: 2px solid #5372F0;
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button{
    color: #fff;
    border: 2px solid #5372F0;
}

/*Estilizando área de Localização*/

.Localização{
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mapa{
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

/*Estilização das Linhas*/

.linha{
    border-bottom: 1px solid rgba(110, 120, 130, 0.4);
    width: 85%;
    margin: 0 auto;
}